@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('semantic-ui-css/semantic.min.css');

:root {
  --dark: #111;
  --light: #fffaf0;
  --teal-light: #f1fcfc;
  --teal: #008080;
  --teal-dark: 012222;
  --bg-text-light: #ddd;
  --primary-dark: #333;
  --grey: #999;
}

body {
  background-color: var(--teal-light);
  color: var(--dark);
}

h1, h2, h3, h4, h5, h6, p,
a, i, li,
header, footer,
div, main, section, span, article, nav,
input, form, label, textarea, button, select, option{
  font-family: 'Poppins', sans-serif !important;
  font-weight: 300;
}

.ui.fixed.menu {
  background-color: var(--dark);
}

.ui.main.container {
  margin-top: 7em !important;
}

.logo {
  color: var(--bg-text-light) !important;
  font-family: 'Great Vibes', serif !important;
  font-weight: lighter !important;
  font-size: 1.7rem !important;
  padding-left: 6px !important;
  letter-spacing: 2px !important;
}

.lg {
  font-size: 3.4rem !important;
}

.heading {
  font-weight: 400 !important;
  color: var(--bg-text-light) !important;
  letter-spacing: 0.5px !important;
  text-transform: uppercase !important;
}

.btn {
  color: var(--bg-text-light);
  font-weight: 400;
  text-transform: uppercase;
}

.home-page-btn {
  color: var(--bg-dark);
  font-weight: 500;
  text-transform: uppercase;
}

.bordering {
  border: 1px solid var(--grey) !important;
}

input::placeholder {
  color: var(--grey) !important;
}

.masthead {
  display: flex;
  align-items: center;
  background: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0 , 0.9)),
    url('/bg.jpg') no-repeat center !important;
  background-size: cover !important; 
  height: 100vh;
}

.masthead h1.ul.header {
  font-size: 4em;

}
