@import url('semantic-ui-css/semantic.min.css');

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 300
}

:root {
  --primary: #012222;
}

.logo {
  font-family: 'Great Vibes', serif;
  font-weight: lighter;
  color: var(--primary);
}